.file-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color: #2a2a2a;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative;
  }
  
  .file-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.7);
  }
  
  .file-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .file-item .file-name {
    color: #ccc;
    font-size: 18px;
    font-weight: 500;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .file-icon {
    width: 40px;
    height: 40px;
  }

  .file-item img.download-icon {
    /* position: absolute; */
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 5px;
    right: 10px;
  }